* {
    box-sizing: border-box;
    margin:0px;
}

#siteContent {
    display:flex;
    flex-direction: column;
}
/* top bar */
#topContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* main content */